<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{% block title %}polis{% endblock %}</title>
    <!-- CSS -->
    <link rel=stylesheet href="{{ url_for('static', filename='css/bootstrap.css') }}" />
    <link rel=stylesheet href="{{ url_for('static', filename='css/polis.css') }}" />
    <!-- JS -->
    <script src="{{ url_for('static', filename='js/jquery-1.7.2-dev.js') }}"></script>
    <script src="{{ url_for('static', filename='js/polis.js') }}"></script>
  </head>
  <body>
    {% block content %}{% endblock %}
  </body>
</html>
