{% extends "base.html" %}

{% block content %}
<div class="container">

  <div class="row">
    <div class="span6 offset3">

      <h1 id="title">polis</h1>
      <button id="geolocate" class="btn btn-large btn-primary">Use Geolocation API</button>

      <p id="or">- or -</p>

      <form action="lookup" method="get" class="well form-search">
        <input type="text" name="address" placeholder="What's your address?" class="search-query">
        <input type="submit" value="Lookup" id="address-submit" class="btn">
      </form>

      <div id="results">
        <img class="center loading" src="{{ url_for('static', filename='img/loading.gif') }}">
      </div>
    </div>
  </div>

</div>
{% endblock %}
