{% if valid %}{% else %}<p class="warning">The address you entered was not valid.</p>{% endif %}

<h2>Your {{ district.state }} Senators are: </h2>

<ul id="reps">
{% for rep in reps %}
  {% if rep.chamber == 'senate' %}
    {% include 'rep-detail.html' %}
  {% endif %}
{% endfor %}
</ul>

<h2>Your Congressional district is: {{ district.state }} {{ district.number }}</h2>
<h2>Your Representative is:</h2>

<ul id="reps">
{% for rep in reps %}
  {% if rep.chamber == 'house' %}
    {% include 'rep-detail.html' %}
  {% endif %}
{% endfor %}
</ul>
