{% extends "base.html" %}

{% block content %}

<h2>Your Congressional district is: {{ district.state }} {{ district.number }}</h2>

<p><em>Your representatives are:</em></p>

{% if valid %}{% else %}<p>The address you entered was not valid.</p>{% endif %}

<ul id="reps">
{% for rep in reps %}
<li class="party {{ rep.party }}">
  <img src=" {{ url_for('static', filename='img/100x125/' + rep.bioguide_id + '.jpg') }}" />
  {{ rep.title }}. {{ rep.firstname }} {{ rep.lastname }} <br>
  <a href="{{ rep.website }}">Website</a>
  <a href="https://twitter.com/{{ rep.twitter_id }}">Twitter</a>
  <a href="https://facebook.com/{{ rep.facebook_id }}">Facebook</a>
</li>
{% endfor %}
</ul>

{% endblock %}
