<li class="party {{ rep.party }}">
  <img class="portrait" src=" {{ url_for('static', filename='img/100x125/' + rep.bioguide_id + '.jpg') }}" />
  <h3 class="repname">{{ rep.firstname }} {{ rep.lastname }}</h3>
  <p><a href="{{ rep.website }}"><img src="{{ url_for('static', filename='img/www.png') }}"> Website</a></p>
  <p><a href="https://twitter.com/{{ rep.twitter_id }}"><img src="{{ url_for('static', filename='img/twitter.png') }}"> Twitter</a></p>
  <p><a href="https://facebook.com/{{ rep.facebook_id }}"><img src="{{ url_for('static', filename='img/facebook.png') }}"> Facebook</a></p>
</li>
